:root {
  --main-color: #0a2ef8;
}

@media (max-width: 1023px) {
  .nav-main {
    text-align: center;
  }

  .nav-main li {
    width: 20%;
  }

  #right-nav {
    width: 70%;
  }

  .list-item {
    text-align: center;
  }

  .name-list-item {
    margin-left: 30%;
  }
}

@media (max-width: 739px) {
  html {
    width: 100%;
  }

  .nav-main {
    text-align: center;
  }

  .nav-main li {
    width: 80%;
    margin: 0;
    left: 0;
  }

  .name-list-item {
    margin-left: 44%;
    width: 50%;
  }

  .page {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }

  .foot-main {
    display: block;
  }

  .card,
  .info-user-opinion input,
  .mess-opinion input {
    display: block;
    width: 100%;
  }

  .info-user-opinion input,
  .mess-opinion input {
    padding: 0;
  }

  .list-trust {
    margin-left: 0;
    display: block;
    text-align: center;
  }
  .promo-item {
    margin: 6px 0;
    padding: 6px;
  }
  .nav-more {
  left: 28%;
  }
  .item1, .item2, .item3, .item4, .item5, .item6 {
    margin: 0;
    width: 240px;
    height: 240px;
  }
  .nav-item  {
    margin-left: 0;
  }
  #left-nav h2 {
    font-size: 16px;
  }
}